<div class="container" id="contactUsContainer">
    <h1 style="text-align: center;">CONTACT US</h1>
    <p style="color: white; text-align: center;">Reach us at : connectednodes@outlook.com</p>
    <p style="text-align: center;">
        <a href="https://twitter.com/ConnectedNodes"> 
            <i class="fa fa-twitter" style="font-size:48px;color:#38A1F3"></i>
        </a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.facebook.com/Connected-Nodes-112760363781664">
            <i class="fa fa-facebook-official" style="font-size:48px;color:#4267B2"></i>
        </a>&nbsp;&nbsp;&nbsp;&nbsp;
       

        <a href="https://www.instagram.com/connectednodes/">
            <i class="fa fa-instagram" style="font-size:48px;color:red"></i>
            </a>
    </p>
    



</div>