<div class="container" id="gamesContainer">
<h1 style="text-align: center;">OUR GAMES</h1>

    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne" style="cursor: pointer" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h2 class="mb-0">
                    <a  data-toggle="collapse" id="game-link" style="cursor: pointer"
                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <span>
                            <img src="assets/game11.png" id="game-images-icon" alt="">
                        </span>
                        &nbsp;&nbsp;
                        <span id="game-text-header">
                            Timer Demo
                        </span>
                        
                </a>
                </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12" id="image-div">
                            <img src="assets/game11.png" id="game-images" alt="">
                        </div>
                        
                        <div id="games-para" class="col-12">
                            <p style="text-align: justify;">
                                Want to track your workout session? Would you like to keep track of how long you take to walk home? How many minutes would it take to complete an hour? Be efficient by being smart, use a timer to track your work and progress. No one ever goes wrong if time management is in their personality. It's now or never, track it and track it now. 
                                This application is free to use for as long as you like and contains ads and in-app purchases. 
                            </p>
                            

                            <p>
                                <a style="cursor: pointer; text-decoration: underline;" (click) = "clickLink()" >Privacy Policy</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Collapsible Group Item #2
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12" id="image-div">
                            <img src="assets/game2.jpg" id="game-images" alt="">
                        </div>
                        <br>
                        <div id="games-para" class="col-12">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                            nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                            single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                            beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                            lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                            probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Collapsible Group Item #3
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12" id="image-div">
                            <img src="assets/game3.jpg" id="game-images" alt="">
                        </div>
                        <br>
                        <div id="games-para" class="col-12">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                            nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                            single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                            beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                            lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                            probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>