#game-images{
    display:block;
    margin:auto;
    
    max-height: 200px;
    max-width: 300px;
}

#image-div{
    margin-bottom: 20px; /* or whatever */
  }
  h1{
    color: white;
}
.card{
    background-color: transparent;
}

#games-para{
    color: white;
}

#game-images-icon{
    height: 100px;
    width: 100px;
   
  

}

#game-link{
    display: inline-block;
    
    
    
    
    transition: all 0.5s;
    cursor: pointer;
    
}
#game-link #game-text-header {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  #game-link #game-text-header:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .card-header:hover{
    background-color:rgb(109, 109, 109);
  }
  .card-header:hover :after{
    background-color:rgb(109, 109, 109);
    box-shadow: 0 5px rgb(109, 109, 109);
    transform: translateY(4px); 
 }
  

  #game-link:hover #game-text-header{
    padding-right: 25px;
  }
  
  #game-link:hover #game-text-header:after {
    opacity: 1;
    right: 0;
  }
  #game-text-header{
      color: white;
  }